<html>
  {% include 'portfolio/generic/head.html' %}
  <body>
    <div class="page-header">
        <h1><a href="{% url 'portfolio:index' %}">Cryptfolio</a></h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            {% include 'portfolio/generic/sidebar.html' %}
          {% endblock %}
        </div>
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
          {% include 'portfolio/generic/pagination.html' %}
        </div>
      </div>
    </div>
  </body>
</html>