{% extends 'portfolio/generic/base.html' %}

{% block content %}
  {% if asset_list %}
      {% for asset in asset_list %}
          <div>
          <h3>
             <a href="{{ asset.get_absolute_url }}">{{ asset.name }}</a>
          </h3>
          {% for holding in asset.holding_set.all %}
              <p>
                  <a href="{{ holding.get_absolute_url }}">{{ holding }}</a>
              </p>
          {% endfor %}
          </div>
      {% endfor %}
  {% else %}
      <p>No assets are available.</p>
  {% endif %}
  <form action="{% url 'portfolio:add_asset' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Create a new asset">
  </form>
{% endblock %}